<style type="text/css">

A:link
{ text-decoration: underline; color:#000000; }
A:visited
{ text-decoration: underline; color:#000000; }

h1 {font-family: Bauer Bodoni Bold; 
color: #640f00; }

p {font-family: Bauer Bodoni Roman;
color: #000000; }


body 
{ background: #FDEFE6;

font-family: Bauer Bodoni; 
color: #000000 ;
letter-spacing: 0; 
font-weight: normal; 
font-size: medium;
}

#margins {
margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#header {
  margin: 20px;
  padding: 10px;
  height: 100px;
}
#left {
  position: absolute;
  left: 15px;
  top: 160px;
  width: 200px;
}
#center {
  top: 0;
  margin-left: 230px;
  margin-right: 230px;
}
#right {
  position: absolute;
  right: 15px;
  top: 160px;
  width: 200px;
}

td
{ font-family: Arial; [your font name]
color: #000000;
padding-left: 2; [2cm, 4cm etc.]
padding-right: 2; [2cm]
padding-top: 2; [2cm]
padding-bottom: 2; [2cm]
}

input, textarea
{ background: #FFFFFF ;
font-family: Arial; 
color: #000000;
border-style: groove; 
border-color: #640f00;
border-width: 4; }

</style>
